body {
  background: $brand-color;
  color: $font-colour;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter';

  a {
    color: lighten($font-colour, 10%);
  }
}

h1.kilo {
  line-height: 1.2;

  a, a:hover {
    text-decoration: none;
  }
}

a {
  color: $brand-color;

  &:hover {
    color: lighten($brand-color, 10%);
  }
}

.time {
  text-align: right;
  font-size: $milli-size;
  display: block;
  color: #A2A2A2;
}
