body {
  background: $brand-color;
  color: $font-colour;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter';

  a {
    color: lighten($font-colour, 10%);
  }
}

a {
  color: $brand-color;

  &:hover {
    color: lighten($brand-color, 10%);
  }
}