body {
  background: $brand-color;
  color: $font-colour;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter';
  margin-bottom: 0.5em;

  a {
    color: lighten($font-colour, 10%);
  }

  & + hr {
    margin-top: -15px;
    margin-bottom: 25px;
  }
}

a {
  color: $brand-color;

  &:hover {
    color: lighten($brand-color, 10%);
  }
}

hr {
  border: none;
  height: 1px;
  display: block;
  background: #E6E6E6;
  margin: 10px 0 10px 0;
}

code {
  font-family: 'Inconsolata', 'Courier New', 'Courier';
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
}

.time {
  text-align: right;
  font-size: $milli-size;
  display: block;
  color: $colour-grey;
}

.full--bleed {
  margin-left: -$large-padding;
  margin-right: -$large-padding;
  margin-bottom: 27px;
}
