.gw {
  width: 80%;
  max-width: $site-width;
  background: #fff;
  margin: 60px auto;
  padding: $large-padding;
  border-radius: $brand-round;
  box-shadow: 0 3px 0 darken($brand-colour, 15%);
}

@include media-query(palm) {

  .gw {
    width: 100%;
    padding: 30px;
    border-radius: 0;
  }
}
