@charset "UTF-8";

@font-face {
  font-family: "benjaminreidme";
  src:url("fonts/icons/benjaminreidme.eot");
  src:url("fonts/icons/benjaminreidme.eot?#iefix") format("embedded-opentype"),
    url("fonts/icons/benjaminreidme.woff") format("woff"),
    url("fonts/icons/benjaminreidme.ttf") format("truetype"),
    url("fonts/icons/benjaminreidme.svg#benjaminreidme") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "benjaminreidme" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "benjaminreidme" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-twitter:before {
  content: "a";
}
.icon-social-facebook:before {
  content: "b";
}
.icon-social-flickr:before {
  content: "c";
}
.icon-social-instagram:before {
  content: "d";
}
.icon-social-google-plus:before {
  content: "e";
}
.icon-social-github:before {
  content: "f";
}
.icon-eye:before {
  content: "g";
}
.icon-mail:before {
  content: "h";
}
.icon-social-rdio:before {
  content: "i";
}
.icon-social-youtube:before {
  content: "j";
}
