.nav--social {
  font-size: 24px;
  margin-bottom: 0;

  a {
    color: $font-colour;
    text-decoration: none;
  }
}

.icon-social-twitter {
  @include link(#55ACEE);
}

.icon-social-github {
  @include link(#333333);
}

.icon-social-google-plus {
  @include link(#dd4b39);
}
