.page-header {

  h1 {
    margin-bottom: 10px;
    line-height: 1.2;

    a, a:hover {
      text-decoration: none;
    }
  }

  p {
    @include font-size(16px);
    line-height: 1.4;
    color: $colour-grey;

    a {
      color: darken($colour-grey, 10%);

      &:hover {
        color: $brand-color;
      }
    }
  }
}
