.post-list {
  padding: 25px 0 0 0;
  margin: 0;
  list-style: none;

  h2 {
    line-height: 1;
  }

  li {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: solid 1px #E2E2E2;

    &:last-child {
      border-bottom: none;
    }
  }
}
