.content {
  --spacing: #{$spacing};
  background-color: white;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  display: grid;
  grid-template-columns: var(--spacing) 1fr var(--spacing);

  @include above($break-point) {
    --spacing: #{$spacing * 2};
  }

  > * {
    grid-column: 2 / -2;
  }

  blockquote,
  .image {
    grid-column: 1 / -1;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
